
@{
    ViewBag.Title = "Detalle del Curso";
}

<div id="app">
    <h2>{{Dato.Nombre}}</h2>
    <div class="row mb-2">
        <div class="col-md-5 p-0">
            <img :src="Dato.Imagen" :alt="Dato.Nombre" width="100%" height="300" :title="Dato.Nombre" />
        </div>
        <div class="col-md-7 p-0">
            <div class="col-md-12 categoria-curso"><strong>Categoria:</strong> {{Dato.Categoria}}</div>
            <div class="col-md-12"><strong>Descripción:</strong> {{Dato.Descripcion}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-end rounded-pill btn bg-dark text-white">
            <div class="flex-grow-1 d-flex justify-content-center">
                <div class="text-center"><strong>Contenidos</strong></div>
            </div>
            <div class="border border-white rounded-circle icono-in-btn" title="Agregar Contenido" data-toggle="modal" data-target="#ModalC" v-on:click="modalC(1)">+</div>
        </div>
        <div class="col-md-8 d-flex justify-content-end rounded-pill btn border border-dark bg-gris-claro">
            <div class="flex-grow-1 d-flex justify-content-center">
                <div class="text-center"><strong>Archivos Multimedia</strong></div>
            </div>
            <div class="border border-dark rounded-circle icono-in-btn" title="Agregar Multimedia">+</div>
        </div>
    </div>
    <div class="row">
        <!--    TEMA    -->
        <div class="col-md-4 p-0">
            <div v-for="dato in Dato.Temas" class="d-flex justify-content-end rounded tema bg-light" v-bind:class="{'tema-activo': dato.activo}">
                <div class="flex-grow-1 d-flex justify-content-center" v-on:click="selectContenido(dato)">
                    <div class="text-center"><strong>{{dato.Name}}</strong></div>
                </div>
                <div class="border border-dark rounded-circle icono-in-btn" title="Editar" data-toggle="modal" data-target="#ModalC" v-on:click="modalC(2, dato)">
                    <img src="~/Imagenes/icons/edit-black.png">
                </div>
            </div>
        </div>
        <div class="col-md-8 p-0">
            <div v-if="Dato.TemaActual.selected" class="m-1 rounded border border-dark">
                <div><strong>Descripción: </strong>{{Dato.TemaActual.data.Descripcion}}</div>
                <div><strong>Contenido: </strong>{{Dato.TemaActual.data.Contenido}}</div>
            </div>
        </div>
    </div>
    <!--    MODAL CONTENIDO   -->
    <div class="modal fade" id="ModalC" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalCTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">{{Contenido.Titulo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-0">
                        <label class="font-weight-bold">{{Contenido.Nombre.text}}</label>
                        <input type="text" class="form-control rounded-pill" v-model="Contenido.Nombre.value"
                               v-bind:class="{'is-invalid' : Contenido.Nombre.invalido}"
                               :placeholder="Contenido.Nombre.placeholder" />
                        <div class="invalid-feedback">
                            {{Contenido.Nombre.error}}
                        </div>
                    </div>
                    <div class="form-group m-0">
                        <label class="font-weight-bold m-0">{{Contenido.Descripcion.text}}</label>
                        <textarea class="form-control" rows="4" class="form-control rounded-pill" v-model="Contenido.Descripcion.value"
                                  v-bind:class="{'is-invalid' : Contenido.Descripcion.invalido}"
                                  :placeholder="Contenido.Descripcion.placeholder"></textarea>
                        <div class="invalid-feedback">
                            {{Contenido.Descripcion.error}}
                        </div>
                    </div>
                    <div class="form-group m-0">
                        <label class="font-weight-bold m-0">{{Contenido.Contenido.text}}</label>
                        <textarea class="form-control" rows="4" class="form-control rounded-pill" v-model="Contenido.Contenido.value"
                                  v-bind:class="{'is-invalid' : Contenido.Contenido.invalido}"
                                  :placeholder="Contenido.Contenido.placeholder"></textarea>
                        <div class="invalid-feedback">
                            {{Contenido.Contenido.error}}
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <button type="button" class="btn btn-block btn-primary2 rounded-pill font-weight-bold mt-3" v-on:click="agregarContenido"
                                :disabled="Contenido.Boton.disabled">
                            {{Contenido.Boton.texto}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    MODAL MULTIMEDIA  -->
    <!---->
</div>
<script>const valID = @ViewBag.ID</script>
@Scripts.Render("~/Scripts/v4/Cursos/MyDetalle.js")
