@{
    ViewBag.Title = "About";
}
<h4>Autores</h4>

<p><strong><em>Rivera López, Jorge Antonio - RL160365</em></strong></p>
<p><strong><em>Sánchez Soriano, Katherine Ivonne - SS160344</em></strong></p>
<p><strong><em>Velásquez Godoy, Luis Alexis - VG160303</em></strong></p>
