
@{
    ViewBag.Title = "Platform";
}

<div class="jumbotron mt-5 border border-danger">
    <h1 class="text-danger">Permiso Denegado</h1>
    <p class="lead">No posee los privilegios para que acceder a este pagina.</p>
</div>

